<div class="d-flex align-items-center justify-content-center " style="height: 700px; width: 100%; background-color: #001861;">
   
    <div style="width: 600px; height: auto;" class=" shadow border m-5 bg-light  d-flex align-items-center justify-content-center">
        <div><img class="img-fluid" src="https://static.vecteezy.com/system/resources/thumbnails/016/900/444/small/online-dating-app-login-illustration-valentine-s-day-love-match-mobile-leaves-gradient-character-illustration-vector.jpg" alt="img"></div>
        <div class="p-5">
            <h3 class="bold">Login</h3>
            <form #login="ngForm" (ngSubmit)="Login()" >
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="email"  name="email" [(ngModel)]="email" email required #useremailinput="ngModel">
                </div>
                <!-- invalid email -->
                <div *ngIf="useremailinput.invalid && useremailinput.touched " class="mb-3 text-danger fw-bolder">
                    Invalid Email
                </div>

                <div class="mb-3">
                    <input type="text" class="form-control" id="floatingPassword" placeholder="Password" name="password" [(ngModel)]="password" required pattern="[a-zA-Z0-9]*" minlength="3" #userpassword="ngModel" >
                </div>
                <!-- invalid password -->
                <div *ngIf="userpassword.invalid && userpassword.touched " class="mb-3 text-danger fw-bolder">
                    Invalid password
                </div>
                
                <div class="mb-3">
                   <button [disabled]="login.invalid" type="submit" class="btn btn-primary">Login</button>
                </div>
        
            </form>
        
        </div>
    </div>
    
</div>
