<div class="d-flex">
    <div style="height: 89vh; width: 150px; background-color: #001861;" class="sidebar  text-light p-3 d-flex flex-column">
        <a style="text-decoration: none; margin-top: 10px; font-weight: bold;color: white;" routerLink="/dashboard">Home</a>
        <a style="text-decoration: none; margin-top: 10px; font-weight: bold;color: white;" routerLink="/users">Users</a>
    </div>
    <div class="dashboard p-3 w-100">

        <div class="fs-4 fw-bold m-3">Add Users....</div>

        <div class="container ">
            <form action #addUserForm="ngForm" (ngSubmit)="addUser()">
                <div class="mb-3">
                    <input type="text" class="form-control"
                        id="exampleFormControlInput1"
                        placeholder="User ID"
                        name="id"
                        [(ngModel)]="user.id" required
                        #id="ngModel" pattern="[0-9]*"
                        >
                        <div *ngIf="id.invalid && id.touched" class="mb-3 text-danger fw-bolder">
                            Invalid ID
                        </div>
                </div>

                <div class="mb-3">
                    <input type="text" class="form-control"
                        id="exampleFormControlInput1"
                        placeholder="Username"
                        name="username"
                        [(ngModel)]="user.name" required 
                        #uname="ngModel" pattern="[a-zA-Z]*"
                        >
                        <div *ngIf="uname.invalid && uname.touched " class="mb-3 text-danger fw-bolder">
                            Invalid Name
                        </div>
                        
                </div>

                <div class="mb-3">
                    <input type="email" class="form-control"
                    id="exampleFormControlInput1"
                    placeholder="name@gmail.com"
                    name="email"
                    [(ngModel)]="user.email" required 
                    #email="ngModel"
                    >
                        <div *ngIf="email.invalid && email.touched " class="mb-3 text-danger fw-bolder">
                            Invalid Email
                        </div>
                </div>

                <div>
                    <select class="form-select" aria-label="Default select example" name="active" [(ngModel)]="user.active" #active="ngModel" required>
                        <option hidden disabled selected value=""></option>
                        <option value="1">Active</option>
                        <option value="0">InActive</option> 
                    </select>
                    <div *ngIf="active.invalid && active.touched " class="mb-3 text-danger fw-bolder">
                        Invalid Status
                    </div>
                </div>

                <div class="mt-4">
                    <button type="button" (click)="cancel()" class="btn btn-warning me-3">Chancel</button>
                    <button type="submit" [disabled]="addUserForm.invalid" class="btn btn-success">Submit</button>
                </div>
            </form>

        </div>
    </div>
</div>