<div class="d-flex">
    <div *ngIf="showSideBar" style="height: 89vh; width: 150px; background-color: #001861;" class="sidebar  text-light p-3 d-flex flex-column">
        <a style="text-decoration: none; margin-top: 10px; font-weight: bold;color: white;" routerLink="/dashboard">Home</a>
        <a style="text-decoration: none; margin-top: 10px; font-weight: bold;color: white;" routerLink="/users">Users</a>

        <button (click)="logout()">Logout</button>
    </div>
    <div class="dashboard p-3 w-100">
        <div class="row">
            <div class="col-lg-8">
                <div style="height: 180px; background: url('https://cdn.pixabay.com/photo/2015/10/29/14/39/web-1012469_1280.jpg'); background-position: center; background-size: cover; background-repeat: no-repeat;" class="admin-banner w-100 rounded d-flex align-items-center shadow">
                    <h1 class="ms-5 fw-bolder d-flex align-items-center text-light fs-3"><i (click)="menuBtnClick()" class="fa-solid fa-bars me-4"></i><span style="height: 50px; margin-top: 10px;">Welcome {{admin_name}}</span></h1>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-5 rounded ">
                        <!-- <h1>Calender</h1> -->
                        <mat-card class="demo-inline-calendar-card">
                            <mat-calendar [(selected)]="selected"></mat-calendar>
                        </mat-card>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-6 border rounded shadow">
                        <app-chart></app-chart>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div style="height: 400px;" class="edit-admin border rounded shadow p-2 bg-warning">
                    <app-update-admin (onAdminChange)="getUpdateAdmin($event)"></app-update-admin>
                </div>
                <div style="height: 150px; background: url('https://cdn.pixabay.com/photo/2015/10/29/14/39/web-1012469_1280.jpg'); background-position: center; background-size: cover; background-repeat: no-repeat; " class="border rounded shadow p-2b bg-dark text-light d-flex align-items-center justify-content-center">
                   <h2> <i class="fa-solid fa-users me-2"></i>Employee : {{employee_count}}</h2>
                </div>
            </div>
        </div>
    </div>
</div>